<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="./../../public/assets/css/burger_style.css" type="text/css" /> --}}
		{{!-- <script src="./../../public/assets/js/burger_input.js"></script> --}}
		<title>GBM - Eat-Da-Bargar</title>


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
		 crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		 crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
		 crossorigin="anonymous"></script>

		<style>
			.container-fluid{
				margin-top: 5%;
				margin-right: 40px;
				margin-left: 40px;
			}

			.title{
				height: 100px;
				background: #0275D8;
				width: 100%;
				text-align: center;
				line-height: 100px;
				color: #fff;
				font-size: 2em;
			}
			.title > p{
				width: 100%;
				text-align: center;
			}
		</style>

	</head>
	<body>
		
		<div class="title text-center">
		 GBM Eat - Da - Burger
		</div>
		<div class="container-fluid">
			<div class="row">
				 {{{ body }}}
			</div>
		</div>
		
	</body>
</html>