<div class="col-md-4">

    <ul class="list-group">
        {{#each burger}}
        <li class="list-group-item">        
            {{this.id}}. {{this.burger_name}}
            <button class="btn" data-burgerId="{{this.id}}" class="devourBurger">Devour!</button>        
        </li> <br>
        {{/each}}
    </ul>

</div>